body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #b7cfdc; /* Misty Blue */
    padding: 20px 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #000;
}

main {
    padding: 20px;
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 18px;
}

main img {
    width: 80%;
    max-width: 100%;
    margin-top: 20px;
    height: auto; /*mittasuhteet */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #385e72; /* Dark Misty Blue */
    padding: 10px 0;
}

ul.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

ul.navigation li {
    display: inline;
}

ul.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

body.home {
    background-color: #b7cfdc; /* Misty Blue */
}

body.subpage {
    background-color: #d9e4ec; /* Blue Gray */
}

p, ul {
    font-size: 16px;
    color: #000;
}
